*{
	font-family: 'Poppins', sans-serif;
}
header {
	background: url(../img/header.jpg);
	padding: 20px 0;
	box-shadow: 1px 1px 8px #000000;
}

.caixa {
	position: relative;
	width: 940px;
	margin: 0 auto;
}

nav {
	position: absolute;
	top: 110px;
	right: 0;
	font-family:'Poppins', sans-serif ;
}

nav li {
	display: inline;
	margin: 0 0 0 15px;
}

nav a {
	text-transform: uppercase;
	color: #000000;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
}

nav a:hover{
	color: #FE1E52;
	text-decoration: underline;
	transition: 200ms linear;
}

.produtos {
	width: 940px;
	margin: 0 auto;
	padding: 50px 0;
}

.produtos li {
	display: inline-block;
	text-align: center;
	width: 30%;
	vertical-align: top;
	margin: 0 1.5%;
	padding: 30px 20px;
	box-sizing: border-box;
	border: 2px solid #000000;
	border-radius: 20px;
	box-shadow: 1px 1px 10px #2a2a2a;
}

.produtos li:hover{
	border-color: #FE1E52;
	scale: 1.1;
	transition: 300ms ease-in-out;
}

.produtos li:active{
	border-color: #529e00;
}

.produtos li:hover h2{
	font-size: 30.7px;
	transition: 200ms ease-in-out;
}

.produtos h2 {
	font-size: 30px;
	font-weight: bold;
}

.produto-descricao {
	font-size: 18px;
}

.produto-preco {
	font-size: 22px;
	font-weight: bold;
	margin-top: 10px;
}

footer{
	text-align: center;
	background: url("../img/fundo.jpg");
	padding: 40px 0 40px 0;
	box-shadow: 0px -1px 7px #000000;	
}

.copyright{
	color: white;
	font-size: 14px;
	margin-top: 25px;
}

/*Página contatos*/

main{
	width: 940px;
	margin: 0 auto;
}

form{
	margin: 40px 0;
}

form label, form p{
	display: block;
	font-size: 20px;
	margin-bottom: 10px;
}

.input-padrão{
	display: block;
	margin-bottom: 20px;
	border-radius: 5px;
	padding: 10px 25px;
	width: 50%;
}

form input:hover{
	border-color: #FE1E52;
	transition: 0.6s;
}

.checkbox{
	margin: 20px 0 20px;
}